SPOTIFY_CLIENT_ID=654acc8cca0a4b82b19bd3680423b25d
SPOTIFY_CLIENT_SECRET=ebc87f2c928c41e19d4ba49cee735dbf
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_ACCESS_TOKEN=
SPOTIFY_REFRESH_TOKEN=
